<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { extensions: ["mhchem.js"] }}); </script>
<script type="text/javascript" src="https://stackedit.io/libs/MathJax/MathJax.js?config=TeX-AMS_HTML"></script>
<script type="text/javascript">

   MathJax.Hub.Config({
     tex2jax: {
       inlineMath: [["$","$"]],
       processEscapes: true
     }
   });
   </script>

<p>A.B. Finnila et al.<br />
1994</p>
<h2>Quantum annealing: a new method for minimizing multidimensional functions</h2>
<ul>
<li>some methods<ul>
<li>single-variable functions with unknown derivative: Brent's method,
  golden section search</li>
<li>multivariate functions with known 1st derivative: conjugate gradient,
  variable metric</li>
<li>otherwise: downhill simplex, direction-set, simulated annealing, genetic
  annealing.</li>
</ul>
</li>
<li>annealing:
    parallelizable (as with other Monte Carlo methods)</li>
<li>quantum methods known in protein folding: tunnel out of, or smooth away,
  local minima</li>
<li>(Amara, 1993) developed a minimization technique on multi-D potential by
  approximating the imaginary-time Schrödinger equation as the product of
  Hartree single-wave packets: packets can separately move, expand, contract,
  tunnel</li>
<li>
<p>quantum annealing doesn't require approximating Schrödinger</p>
</li>
<li>
<p>in general, we can start at an arbitrary <mathjax>$(\Gamma,T)$</mathjax> point and reduce to
  <mathjax>$(0,0)$</mathjax> along any path. It happens to be easier to find the thermal ground
  state of a quantum system, though, so anneal <mathjax>$T$</mathjax> first.</p>
</li>
<li>
<p>for reference, the i-time Schrödinger is
    <mathjax>$$
    \frac{\partial \psi}{\partial \tau} =
        \frac{\hbar^2}{2m}
        \frac{\partial^2 \psi}{\partial x^2}
        - \left[ V(x) - E_0 \right] \psi
    $$</mathjax>
    (<mathjax>$\tau = \frac{it}{\hbar}$</mathjax>, <mathjax>$E_0$</mathjax> is a convenient constant)</p>
<ul>
<li>solution has the form
    <mathjax>$$
    \psi(x,\tau) = \sum_n \phi_n(x) \exp^{ - \left( E_n - E_0 \right) \tau }
    $$</mathjax>
    (eigenfunctions <mathjax>$\phi(x)$</mathjax> with energies <mathjax>$E_n$</mathjax>)<ul>
<li>ground state is the large-<mathjax>$\tau$</mathjax> limit of the wave function; has
  energy <mathjax>$E_0$</mathjax></li>
</ul>
</li>
</ul>
</li>
<li>Diffusion Monte Carlo can be used: perform random walks through the solution
  space<ul>
<li>walkers diffuse by nature</li>
<li>where <mathjax>$V(x) &gt; E_0$</mathjax>, walkers decay</li>
<li>where <mathjax>$V(x) &lt; E_0$</mathjax>, walkers grow</li>
</ul>
</li>
<li>DMC needs no knowledge of wave function: it is obtained from the walkers'
  distribution</li>
<li>rate of convergence is controlled by <mathjax>$E_n - E_0 = \Delta E$</mathjax>; DMC converges
  in <mathjax>$\frac{\hbar}{\Delta E}$</mathjax>, which is the tunneling time scale between
  interacting optima in the potential</li>
<li>anneal by gradually increasing the mass of the walkers</li>
</ul>
<blockquote>
<p>example:
    - <mathjax>$V(x) \sim x^4$</mathjax> with two minima (<mathjax>$s_2$</mathjax> slightly lower than <mathjax>$s_1$</mathjax>)
    - start a bunch of walkers in <mathjax>$s_1$</mathjax> with energy around half the barrier
      height.
    - diffuse of walkers to an equilibrium state causes a slight majority of
      them to tunnel into <mathjax>$s_2$</mathjax> (Fig 2: walkers have <mathjax>$m_{walker} \sim 2000
      m_p$</mathjax>, barrier is 1K).
    - anneal the system by increasing walker mass: walkers initially have high
      energy and move easily between states; as mass increases, ground state
      energy decreases and walkers find it hard to move from <mathjax>$s_2$</mathjax> into <mathjax>$s_1$</mathjax>.
      (Fig 3: walkers have <mathjax>$m_{walker} \sim 200,2000,2000000 m_p$</mathjax>).</p>
</blockquote>
<ul>
<li>as ground state energy drops below the energy of a metastable state it
  becomes impossible to move into that state: slow evolution is necessary so
  we don't drop out the bottom</li>
<li>
<p>at each MC step, the system must diffuse into (or close to) an equilibrium
  so walkers can be said to be in a state</p>
</li>
<li>
<p>walkers ← delocalization</p>
</li>
</ul>