<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { extensions: ["mhchem.js"] }}); </script>
<script type="text/javascript" src="https://stackedit.io/libs/MathJax/MathJax.js?config=TeX-AMS_HTML"></script>
<script type="text/javascript">

   MathJax.Hub.Config({
     tex2jax: {
       inlineMath: [["$","$"]],
       processEscapes: true
     }
   });
   </script>

<p>T.F. Rosenbaum, J. Brooke, D. Bitko, G. Aeppli<br />
1999</p>
<h2>Quantum annealing of a disordered magnet</h2>
<ul>
<li>simulated annealing represents a connection between stat mech and
  combinatorial optimization</li>
<li>uses: TSP, circuit design, spin glasses, protein folding<ul>
<li>have many nearly degenerate local optima</li>
</ul>
</li>
<li>
<p>if annealing is sufficiently slow, annealing is guaranteed to find the
  global optimum (Geman 1984). May be impractical</p>
</li>
<li>
<p>atomic spin: magnetic field is perpendicular to spin axis</p>
<ul>
<li>introduces "off-diagonal" terms in Hamiltonian</li>
<li>allows tunneling between <mathjax>$\uparrow$</mathjax> and <mathjax>$\downarrow$</mathjax></li>
</ul>
</li>
<li>
<p>spin glass (macroscopic lattice of spins) is Feynman's concept of a
  quantum computer</p>
<ul>
<li>input: a spin state</li>
<li>output: the lowest-energy spin state</li>
<li>in between: a series of quantum-mechanical operations</li>
</ul>
</li>
</ul>
<h2>measuring annealing on spin glass</h2>
<ul>
<li>note: this is a physical, not computational, experiment</li>
<li>use a ferromagnetic material with randomly inserted antiferromagnetic bonds:
  <mathjax>$\ce{LiHo_{x}Y_{1-x}F4}$</mathjax></li>
<li>
<p><mathjax>$\ce{Ho}$</mathjax> is magnetizable, but <mathjax>$\ce{Y}$</mathjax> is inert: randomizes the coupling
  sign between magnetizable ions</p>
</li>
<li>
<p>they use
    <mathjax>$$
    H = - \sum_{i,j} \sigma^{z}_{i} \sigma^{z}_{j} - \Gamma \sum_{i} \sigma^{x}_{i}
    $$</mathjax></p>
</li>
<li><mathjax>$[H,\sigma^{z}] \neq 0$</mathjax> for <mathjax>$\Gamma \neq 0$</mathjax>, so <mathjax>$\sigma^{z}$</mathjax> isn't
  conserved, and quantum fluctuations arise</li>
<li>a magnetic field is along <mathjax>$x$</mathjax>: a field in <mathjax>$z$</mathjax> would polarize spin at all <mathjax>$T$</mathjax></li>
<li>sample was<ol>
<li>Cooled slowly from 0.8K to 0.03K while unmagnetized; field then
   increased to 7.2kOe</li>
<li>Cooled rapidly from 0.8K to 0.03K while exposed to a 24kOe field; field
   then decreased to 7.2kOe</li>
</ol>
</li>
<li>samples reached the final conditions in ~18h</li>
<li>magnetic susceptibility of quantum-annealed magnet remained greater than the
  thermal magnet after 2 days</li>
<li>relaxation time about 3x better for the quantum experiment</li>
<li>there's lots of spectra physics here that I don't really follow</li>
</ul>
<h2>Conclusion</h2>
<ul>
<li>conventional quantum computation approaches involve building computers 1
  qubit at a time using NMR, then manipulating individual qubits for
  computation</li>
<li>quantum annealing could allow less careful construction: reduce a problem to
  a spin problem and perform thermal/quantum cooling in a magnetic field</li>
</ul>