<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { extensions: ["mhchem.js"] }}); </script>
<script type="text/javascript" src="https://stackedit.io/libs/MathJax/MathJax.js?config=TeX-AMS_HTML"></script>
<script type="text/javascript">

   MathJax.Hub.Config({
     tex2jax: {
       inlineMath: [["$","$"]],
       processEscapes: true
     }
   });
   </script>

<p>G. Rose, W.G. Macready<br />
D-Wave<br />
2007</p>
<h2>An Introduction to Quantum Annealing</h2>
<ul>
<li>adiabatic quantum computation: computation which adiabatically evolves from
  the ground state of <mathjax>$H_{P}$</mathjax> to the ground state of <mathjax>$H_{B}$</mathjax>,
  (<mathjax>$[H_{P},H_{0}]\neq 0$</mathjax>).<ul>
<li>eg. <mathjax>$H = (1 - s) H_{0} + s H_{P}$</mathjax>, <mathjax>$s: 0 \rightarrow 1$</mathjax></li>
</ul>
</li>
<li>
<p>quantum annealing treats <mathjax>$H_{0} = H'$</mathjax> as a disordering hamiltonian
  introducing fluctuations which essentially negates the problem hamiltonian.
  System evolves (probably not adiabatically) towards <mathjax>$H_{P}$</mathjax> until the
  residual energy is low</p>
<ul>
<li>eg. <mathjax>$H = H_{p} + \Gamma H'$</mathjax>, <mathjax>$\Gamma: \Gamma(0) \gg 0 \rightarrow 0$</mathjax></li>
</ul>
</li>
<li>
<p>physical systems tend to minimize (Helholtz) free energy</p>
</li>
<li>
<p>thermal annealing: take a metal with defects (metastable state with
  higher-than-ground energy). Heat &amp; cool it to remove them.</p>
</li>
<li>simulated annealing: heuristic approach for hard problems. Energy landscape
  is user-defined so the ground state is the correct answer</li>
<li>
<p>quantum annealing: in physical (not programmed) systems, can speed up free
  energy minimization (see Santoro 2002)</p>
</li>
<li>
<p>when used adiabatically (adiabatic quantum computation), annealing
  processors (eg. D-Wave) are universal quantum computers</p>
</li>
<li>
<p>Hydra processors represent optimization of a 2D Ising model in a magnetic
  field:</p>
<ul>
<li>a hard problem</li>
<li>represented by (in Einstein notation)
    <mathjax>$$
    H_{0}(t) = h_{i}Z_{i} + h_{ij}Z_{i}Z_{j} + \Delta_{i}(t)X_{i}
    $$</mathjax>
  where <mathjax>$Z_{i}$</mathjax> and <mathjax>$X_{i}$</mathjax> are the Pauli spin matrices (per qubit),
  <mathjax>$h_{i}$</mathjax> is the local bias (what is?), <mathjax>$J$</mathjax> is the strength of coupling
  between two cubits, and <mathjax>$\Delta$</mathjax> is the tunnelling matrix (<mathjax>$h$</mathjax> and <mathjax>$J$</mathjax>
  are programmable)</li>
</ul>
</li>
<li>
<p>Helmholtz energy is
    <mathjax>$$
    F_{T}[p] = E_{p}(V) - TS[p] = \sum_{x}E(x)p(x) - p(x)\ln{p(x)}
    $$</mathjax></p>
<ul>
<li>at maximum entropy all states are equal</li>
<li>V(p) has local minima</li>
<li>potential term tries to select state with minimal <mathjax>$V$</mathjax>; entropy term
  tries to eliminate such states</li>
</ul>
</li>
<li>in classical annealing<ul>
<li>start at high temperature so entropy term dominates (and global minimum
  is easy to find as F[p] is uniform)</li>
<li>cool slowly such that the global minimum in step <mathjax>$t + dt$</mathjax>
    (<mathjax>$T \rightarrow T - dt$</mathjax>) is reachable by gradient of <mathjax>$\frac{dF}{dp}$</mathjax>
    from step <mathjax>$t$</mathjax></li>
</ul>
</li>
<li>in simulated annealing:<ul>
<li>use a Markov chain to sample from <mathjax>$p$</mathjax> at each step</li>
</ul>
</li>
<li>
<p>in quantum annealing:</p>
<ul>
<li>energy term includes a <mathjax>$K$</mathjax> contribution which spreads out <mathjax>$p$</mathjax>: exists
  even at low <mathjax>$T$</mathjax>:
    <mathjax>$$
    F_{T}[p] = Tr(\rho V) + \Gamma Tr(\rho K) + T Tr(\rho \ln{\rho})
    $$</mathjax></li>
<li>state selection is from an extra dimension: <mathjax>$(\Gamma,T)$</mathjax>, not simply
  <mathjax>$(T)$</mathjax></li>
</ul>
</li>
<li>
<p>hard to analyze performance of heuristics (esp annealing) on hard problems:
  input-dependent; time dependent on short-term vs long-term behaviour</p>
<ul>
<li>ultimately need empiric measures of residual energy</li>
<li>can measure <mathjax>$E_{res}(t)$</mathjax>: approaches 0 asymptotically</li>
<li>on exponential runtime, annealing has residual energy like
    <mathjax>$A log^{-\gamma} \alpha t$</mathjax>, where <mathjax>$\gamma = 2$</mathjax> for classical annealing
    and <mathjax>$\gamma = 6$</mathjax> for quantum annealing (see Santoro 2002)<ul>
<li>probably</li>
</ul>
</li>
<li>for <mathjax>$A_{c} \sim A_{q}$</mathjax>, <mathjax>$\alpha_{q} \sim 10^{9}$</mathjax>,
    <mathjax>$\alpha_{c} \sim 10^{3}$</mathjax> (estimated), quantum annealing beats
    simulated annealing by <mathjax>$10^{6}$</mathjax></li>
<li>however, most problems have specific algorithms running faster than a
  general annealing algo, so relative performance of QA is hard to define</li>
</ul>
</li>
</ul>