<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { extensions: ["mhchem.js"] }}); </script>
<script type="text/javascript" src="https://stackedit.io/libs/MathJax/MathJax.js?config=TeX-AMS_HTML"></script>
<script type="text/javascript">

   MathJax.Hub.Config({
     tex2jax: {
       inlineMath: [["$","$"]],
       processEscapes: true
     }
   });
   </script>

<p>G.E. Santoro, R. Martoňák, E. Tosatti, R. Car<br />
2002</p>
<h2>Theory of Quantum Annealing of an Ising Spin Glass</h2>
<ul>
<li>CA is used in microchip design</li>
<li>Ising experiments use LiHo<sub>0.44</sub>Y<sub>0.56</sub>F<sub>4</sub></li>
<li><mathjax>$\Gamma$</mathjax> is a transverse magnetic field: it mixes <mathjax>$S^{z}$</mathjax>: at time 0 it
  completely disorders the system</li>
<li>it's not entirely clear from a theoretical perspective why QA should be
  faster than CA<ul>
<li>it's not even clear how CA works: experiments show decay faster than
  theory</li>
</ul>
</li>
<li>
<p>time is represented as number of Monte Carlo steps, as an actual
  (exact?) annealing would be too slow</p>
</li>
<li>
<p>2D random Ising model is technically polynomial, but prohibitively
  expensive</p>
</li>
<li><mathjax>$H = \sum_{ij} J_{ij} \sigma^z_i \sigma^z_j - \Gamma \sum \sigma^x_i$</mathjax><ul>
<li><mathjax>$J$</mathjax> represents the coupling between elements of the lattice</li>
<li>transverse field <mathjax>$\Gamma$</mathjax> causes transitions between <mathjax>$\uparrow$</mathjax> and
  <mathjax>$\downarrow$</mathjax></li>
</ul>
</li>
<li>
<p><mathjax>$\Gamma_0 \Rightarrow$</mathjax> disordered quantum paramagnet</p>
</li>
<li>
<p>QA system uses:</p>
<ul>
<li>small constant temperature <mathjax>$T$</mathjax></li>
<li>represented on a classical model using <mathjax>$P$</mathjax> Trotter replicas of the
  lattice: <mathjax>$PT \sim 1$</mathjax> seems to be a good choice. Runtime is linear in
  <mathjax>$P$</mathjax>; ceases to be an improvement beyond a certain point</li>
<li><mathjax>$\Gamma$</mathjax> changes the coupling between replicas: at high <mathjax>$\Gamma$</mathjax> they're
  loosely coupled; as <mathjax>$\Gamma$</mathjax> decreases the coupling becomes tighter
  until they're forced into identical configurations</li>
</ul>
</li>
<li>
<p>ground-state transitions are tunnelling events between a wide, shallow
  valley and a deep, narrow valley</p>
</li>
<li>
<p>accuracy is logarithmic, but at a higher power than CA: it converges more
  quickly, but will not converge adiabatically in polynomial time (cannot be
  used to precisely solve NP-complete problems)</p>
</li>
<li>PIMC is parallelizable, unlike CA algorithms</li>
</ul>