<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { extensions: ["mhchem.js"] }}); </script>
<script type="text/javascript" src="https://stackedit.io/libs/MathJax/MathJax.js?config=TeX-AMS_HTML"></script>
<script type="text/javascript">

   MathJax.Hub.Config({
     tex2jax: {
       inlineMath: [["$","$"]],
       processEscapes: true
     }
   });
   </script>

<p>R. Martoňák, G.E. Santoro, E. Tosatti<br />
2004</p>
<h2>Quantum annealing of the Traveling Salesman Problem</h2>
<ul>
<li>statistical annealing: minimize costs through an analogy to statistical
  mechanics<ul>
<li>simulation via Monte Carlo or molecular dynamics</li>
<li>unbiased, unlike gradient methods</li>
</ul>
</li>
<li>
<p>quantum annealing: minimize through quantum mechanics</p>
<ul>
<li>quantum kinetic rather than thermal fluctuations</li>
<li>quantum fluctuations are the reason helium melts at low temperatures</li>
<li>QFs can tunnel through potential barries. SA can overcome them, but
  possibly slower</li>
<li>from (Finnila 1994)</li>
<li>Santoro found QA faster on 2D random Ising</li>
</ul>
</li>
<li>
<p>TSP: they (everyone?) use a Hamiltonian cycle, not path</p>
<ul>
<li>SA is not the best, but it is flexible and simple</li>
</ul>
</li>
<li>we must define the Hilbert space and the quantum kinetic hamiltonian</li>
<li>
<p>they map it to a constrained Ising-like system reminiscent of neural network
  approaches (Hopfield-Tank 1986)</p>
</li>
<li>
<p>define a permutation matrix <mathjax>$T$</mathjax>: entry <mathjax>$T_{ij}$</mathjax> is true iff a tour follows
  <mathjax>$(i,j) \in E$</mathjax></p>
<ul>
<li>irreflexive; each row and each column contains one true
  element</li>
<li>as reversed tours have the same length, use <mathjax>$U = T + T'$</mathjax> (symmetric)</li>
<li><mathjax>$H_{V} = \frac{1}{2} d_{ij} U_{ij}$</mathjax></li>
<li>use 2-opt move:
    <mathjax>$(c_1, c_2), (c'_1,c'_2) \rightarrow (c_1,c'_1), (c_2,c'_2)$</mathjax>
  and reverse the intermediate links</li>
</ul>
</li>
<li>in <mathjax>$T$</mathjax>, the reversal amounts to a bunch of bit- (spin)-flips: non-local<ul>
<li><mathjax>$U$</mathjax> is directionless, though, so the operation only requires four
  flips:
    <mathjax>$$
    S^{-}_{&lt;c_{1},c_{2}&gt;} S^{-}_{&lt;c_{1'},c_{2'}&gt;}
    S^{+}_{&lt;c_{1},c_{1'}&gt;} S^{+}_{&lt;c_{2},c_{2'}&gt;}
    $$</mathjax>
  where <mathjax>$S^{z}_{&lt;i,j&gt;} = 2U_{i,j} - 1$</mathjax></li>
</ul>
</li>
</ul>
<blockquote>
<p>eg. <mathjax>$(1,2,3,4,5,6,7,8) \rightarrow (1,2,7,6,5,4,3,8)$</mathjax>
- replace two links <mathjax>$(2,3)$</mathjax> and <mathjax>$(7,8)$</mathjax> with <mathjax>$(2,7)$</mathjax> and <mathjax>$(3,8)$</mathjax>, and
  reverse all intermediate links</p>
</blockquote>
<ul>
<li>then the hamiltonian is
    <mathjax>$$
    \begin{align}
    H_{V} &amp; = \sum_{&lt;ij&gt;} d_{ij} \frac{S^{z}_{&lt;i,j&gt;} - 1}{2} \\
    H_{K} &amp; = \frac{1}{2} \sum_{&lt;i,j&gt;}\sum_{&lt;i',j'&gt;} \Gamma(i,j,i',j',t)
        \left[
        S^{-}_{&lt;c_{1},c_{2}&gt;} S^{-}_{&lt;c_{1'},c_{2'}&gt;}
        S^{+}_{&lt;c_{1},c_{1'}&gt;} S^{+}_{&lt;c_{2},c_{2'}&gt;} + H.c
        \right]
    \end{align}
    $$</mathjax></li>
<li><mathjax>$\Gamma$</mathjax> is a decaying function of time biased towards selecting cities
  close to one another (<em>neighbourhood pruning</em>)</li>
<li>it is now a constrained Ising problem: <mathjax>$H_{V}$</mathjax> represents the external
  magnetic field; the problem has fixed magnetization (<mathjax>$N$</mathjax> elements)</li>
<li>use heuristic approximations to solve the Schrödinger equation (as
  it's exponential in the number of variables): quantum Monte Carlo
  (specifically path-integral Monte Carlo)<ul>
<li>this is still hard: have to calculate <mathjax>$&lt;C' | exp - \epsilon H_{K} | C&gt;$</mathjax>;
    Trotter discretization is complicated</li>
<li>simplify: <mathjax>$H_{K} = \Gamma(t) \sum_{&lt;ij&gt;} 
    \left[ S^{+}_{&lt;i,j&gt;} + H.c \right]$</mathjax>:
    represents an Ising system in a transverse magnetic field</li>
<li>does not guarantee the validity-constraint, but that can be enforced in
  the MC.</li>
</ul>
</li>
<li>
<p>remaining implementation is as for random Ising model (Santoro 2002)</p>
</li>
<li>
<p>they compare against CA using TSPLIB (instance pr1002): <mathjax>$N = 1002$</mathjax> cities,
  optimal length known to be <mathjax>$L_{opt} = 259045$</mathjax></p>
<ul>
<li>use Metropolis algo: select <mathjax>$T_{0}$</mathjax> by performing several short runs
  starting at high temperature (ergodic region) to identify the point
  (<em>dynamical temperature</em>) where different runs tend to diverge:
  <mathjax>$T_{CA} = 100$</mathjax>; <mathjax>$T_{QA} = 10/3$</mathjax> (constant); </li>
<li>at each MC step they select a city <mathjax>$j$</mathjax> and examine its <mathjax>$M = 20$</mathjax> nearest
  neighbours for 2-opt candidates: each MC step has <mathjax>$MN$</mathjax> attempted moves</li>
<li>quality based on average cost across 96 runs</li>
</ul>
</li>
<li>found residual error is reduced much more quickly for QA than for SA<ul>
<li>very low residual error is obtained faster for QA even after accounting
  for extra CPU time (Ising simulation uses 30 classical ferromagnets
  rather than one quantum magnet)</li>
<li>they've hypothesized on Ising models than QA is more efficient as it
  overcomes infinite potential barriers---appears to apply here too</li>
<li>QA saturates, however, so extremely low error is hard to obtain</li>
</ul>
</li>
</ul>